

.heander-one {/* header inicio*/

    width: 100%;
    height: 15%;
    background-color: rgb(26, 82, 51);
    background-position: center;
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    color:white;
    align-items: center;
    font-style: serif;
}/* header fim*/
body {/* body inicio*/
    background-image: url(https://burst.shopifycdn.com/photos/long-forest-path.jpg?width=925&format=pjpg&exif=1&iptc=1);
    margin: 0;
}/* body fim*/


/*  bloco master*/
.bloco-master{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}


/*  inicio bloco hobby*/
.imagem-hobby{
    width: 100px;
    height: 150px;
    display: flex;
    margin:11%;
    margin-top:1px;

}
.bloco-hobby{
    width: 300px;
    height: 500px;
    background-color: beige;
    margin-top: 6%;
    margin-left: 8%;
    border-radius: 15px;
   
    
}

.title-hobby{
    text-align: center;
    color:maroon

}
.p1-hobby{
    text-align:center;
    margin: 15px;
}
.p2-hobby{
    text-align:center;
    margin: 15px;
}
/*  fim bloco hobby*/


/*  inicio bloco viagem*/
.imagem-viagem{
    width: 200px;
    height: 150px;
    left: 100px;
    display: flex;
    margin:16%;
    margin-top:1px;

}
.bloco-viagem{
    width: 300px;
    height: 500px;
    background-color: beige;
    margin-top: 6%;
    margin-left: 8%;
    border-radius: 15px;
   
    
}

.title-viagem{
    margin-top:20px;
    text-align: center;
    color:maroon
    

}
.p1-viagem{
    text-align:center;
    margin: 15px;
}
.p2-viagem{
    text-align:center;
    margin: 15px;
}
/*  fim bloco viagem*/


/*  inicio bloco family*/
.imagem-family{
    width: 200px;
    height: 150px;
    left: 100px;
    display: flex;
    margin:16%;
    margin-top:1px;

}
.bloco-family{
    width: 300px;
    height: 500px;
    background-color: beige;
    margin-top: 6%;
    margin-left: 8%;
    border-radius: 15px;
   
    
}

.title-family{
    margin-top:20px;
    text-align: center;
    color:maroon
    

}
.p1-family{
    text-align:center;
    margin: 15px;
}
.p2-family{
    text-align:center;
    margin: 15px;

}
/*  fim bloco family*/

/*  inicio bloco developer*/

.imagem-developer{
    width: 200px;
    height: 150px;
    display: flex;
    margin:6%;
    margin-top:1px;

}
.bloco-developer{
    width: 300px;
    height: 500px;
    background-color: beige;
    margin-top: 6%;
    margin-left: 8%;
    border-radius: 15px;
   
    
}

.title-developer{
    margin-top:20px;
    text-align: center;
    color:maroon
    

}
.p1-developer{
    text-align:center;
    margin: 15px;
}
.p2-developer{
    text-align:center;
    margin: 15px;

}

/*  fim bloco developer*/

footer {
    width: 100%;
    height: 110px;
    margin-top: 90%;
    background-color:  black;
    background-position: center;
    display: flex;
    justify-content: space-around;
    font-size: 9px;
    color:white;
    align-items: center;
    font-style: serif;
}
